# Ignore NetBeans specific files and directories
nbproject/private/
build/
dist/
IST_App/src/storage/

# Ignore class files and other generated binaries
*.class

# Ignore library files in Drive (optional, based on your preference)
Drive/
IST_App/.vscode/settings.json
